/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --text: #08070e;
    --background: #f0f0f0;
    --primary: #213454;
    --secondary: #4f709c;
    --accent: #e5d285;
  }
  .dark {
    --text: #f2f1f8;
    --background: #0f0f0f;
    --primary: #abbdde;
    --secondary: #6385b0;
    --accent: #7a671a;
  }
} */

/* @layer base {
  :root {
    --text: #08070e;
    --background: #dee7ed;
    --primary: #27374e;
    --secondary: #526e84;
    --accent: #9cb2bf;
  }
  .dark {
    --text: #f2f1f8;
    --background: #121b21;
    --primary: #b1c1d8;
    --secondary: #7b97ad;
    --accent: #405663;
  }
} */

@layer base {
  :root {
    /* --text: #08070e;
    --background: #dee7ed;
    --primary: #27374e;
    --secondary: #526e84;
    --accent: #7eadc9;
    --transparent: rgba(0, 0, 0, 0.125); */

    --text: 249deg 33% 4%;
    --background: 204deg 29.4% 90%;
    --primary: 217deg 33% 33%;
    --secondary: 199deg 98% 48%;
    --accent: 37deg 91% 60%;
    --base-100: 220deg 14% 96%;
    --info: 212deg 96% 78%;
    --success: 158deg 64% 52%;
    --warning: 33deg 100% 45%;
    --error: 0deg 91% 71%;
    --transparent: rgba(0, 0, 0, 0.125);
  }
  /* 
  @media (prefers-color-schema: dark) {
    :root {
      --text: #f2f1f8;
      --background: #121b21;
      --primary: #b1c1d8;
      --secondary: #7b97ad;
      --accent: #366681;
      --transparent: rgba(0, 0, 0, 0.03);
    }
  }

  :root[data-theme='dark'] {
    --text: #f2f1f8;
    --background: #121b21;
    --primary: #b1c1d8;
    --secondary: #7b97ad;
    --accent: #366681;
    --transparent: rgba(0, 0, 0, 0.03);
  } */
}
